<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="parts/authentication :: links"></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
    <header th:insert="parts/header :: header"></header>

    <div class="container w-50 mb-4">
        <div class="border border-primary rounded mt-2">
            <div class="m-auto text-center">
                <div class="mt-2">
                    <h4>Do you want to create a post?</h4><br>
                    <h5>
                        <a href="blog/add">Create</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="m-auto text-center">
        <form method="get" action="/blog">
            <h5>Search:</h5> <input type="text" name="name" th:value="${value}" class="mr-2" style="border: 1px solid #007bff;" placeholder="Enter name">
            <input type="radio" name="radiobutton" value="rad1">By username
            <input type="radio" name="radiobutton" value="rad2" class="ml-2">By title the post<br>
            <button class="btn btn-outline-info mt-2" type="submit">Search</button>
        </form>
    </div>

    <div class="content_">
        <div class="container mt-5">
            <div th:each="post : ${posts}" class="border border-secondary bg-light rounded mt-2">
                <div class="text-center">
                    <h4 th:text="${post.title}" />
                    <hr>
                </div>

                <div class="text-left ml-2 mr-2">
                    <span th:text="${post.anons}" />
                </div>

                <hr>
                <div class="text-right mr-2">
                    <a th:href="'/blog/' + ${post.id}">Open</a>
                </div>

                <div class="text-right text-dark mr-2">
                    <a th:href="'/blog/' + ${post.usr.id} + '/messages'" th:text="${post.usr.username}" />
                </div>

                <div class="text-right text-dark mr-2">
                    <span th:text="${post.date}" />
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 100px"></div>
    <div th:insert="parts/footer :: footer"></div>
</body>
</html>
