<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="parts/authentication :: links"></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Details post</title>
</head>
<body>
<header th:insert="parts/header :: header"></header>

<div class="content_">
    <div class="container mt-5">
        <div th:each="post : ${posts}" class="border border-secondary bg-light rounded mt-2">
            <div class="text-center">
                <h4 th:text="${post.title}" />
                <hr>
            </div>

            <div class="mr-2 ml-2">
                <div style="word-wrap: break-word;">
                    <span th:text="${post.full_text}" ></span>
                </div>
            </div>
            <hr>

            <div class="text-right text-dark mr-2">
                <span th:text="${post.usr.username}" />
            </div>

            <div class="text-right text-dark mr-2">
                <span th:text="${post.date}" />
            </div>

            <div th:insert="parts/buttons :: ${isUserCreator}"></div>
        </div>
    </div>
</div>


<div th:insert="parts/footer :: footer"></div>
</body>
</html>
