<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="parts/authentication :: links"></div>
    <title>Logout</title>
</head>
<body>
<header th:insert="parts/header :: header"></header>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
					<span class="login100-form-title p-b-26">
						Do you want to leave your account?
					</span>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <form action="/logout">
                                <button type="submit" class="login100-form-btn"
                                        th:text="Logout">
                                </button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="login_reg/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/bootstrap/js/popper.js"></script>
    <script src="login_reg/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/daterangepicker/moment.min.js"></script>
    <script src="login_reg/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/js/main.js"></script>

</div>
<div th:insert="parts/footer :: footer"></div>
</body>
</html>