<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bern</title>
    <meta charset="UTF-8">
    <meta name="description" content="Bern - HTML Portfolio Template">
    <meta name="keywords" content="agency, portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="main/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="main/css/reset.css"/>
    <link rel="stylesheet" href="main/css/owl.carousel.css"/>
    <link rel="stylesheet" href="main/css/owl.theme.css"/>
    <link rel="stylesheet" href="main/css/magnific-popup.css"/>
    <link rel="stylesheet" href="main/css/style.css"/>

    <!-- Web font -->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>

    <!-- Font icons -->
    <link rel="stylesheet" href="main/icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="main/icon-fonts/web-design/flaticon.css" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- loader-->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>


<div class="wrapper">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><b>Almod Blog</b></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark"  href="#home"><b>Main</b></a>
            <a class="p-2 text-dark" href="/blog"><b>Blog</b></a>
            <a class="p-2 text-dark" href="#about"><b>About us</b></a>
        </nav>
        <!--<a class="btn btn-outline-primary" th:href="${authorization}" th:text="${textAuth}"></a>-->
        <a class="btn btn-outline-primary" href="/login" >Sign in</a>
    </div>


    <!-- HOME -->
    <section id="home" class="home">
        <div class="home-inner">
            <h1>Let's be <span class="element" data-text1="Creative" data-text2="Eloquent" data-loop="true" data-backdelay="3000"></span></h1>
            <p class="top_15">Create your own blogs, save your life stories<span></span><br> and your thoughts here.</p>
            <a href="/blog" class="smoothScroll site-btn top_45">CREATE BLOG</a>
            <div id="line-scroll" style="display: block;">
                <div class="line-scroll" id="lsl"> <span class="line active"></span> </div>
            </div>
        </div>
        <img class="wave-shape" src="images/bottom-color.png">
    </section>

    <!-- ABOUT -->
    <section id="about" class="about color-bg">
        <div class="container text-center outter">
            <div class="col-lg-8 offset-lg-2 bottom_60">
                <div class="section-title bottom_30">
                    <span>ABOUT US </span>
                    <h2 class="title">I use the Java language, <br> this is my first web project.</h2>
                </div>
                <p>This site is a service for creating your own blogs.</p>
                <p>In the project I used Spring Boot, Spring MVC, Spring Security, Spring JPA, MySQL.<br>
                </p>
            </div>
            <!-- work areas -->
            <div class="owl-carousel work-areas" data-pagination="true" data-autoplay="25000" data-items-desktop="3" data-items-desktop-small="3" data-items-tablet="2" data-items-tablet-small="1">
                <!-- an area -->
                <div class="col-md-12 item">
                    <div class="area blue">
                        <div class="icon">
                            <i class="flaticon-html"></i>
                        </div>
                        <div class="text">
                            <h6>Web Design</h6>
                            <p>Cloud agency follows the latest design standards to deliver a beautiful and functional digital product.</p>
                        </div>
                    </div>
                </div>
                <!-- an area -->
                <div class="col-md-12 item">
                    <div class="area green">
                        <div class="icon">
                            <i class="flaticon-attach"></i>
                        </div>
                        <div class="text">
                            <h6>Branding Identity</h6>
                            <p>We will make you a brand that is catchy and leaves a trace. Your target group will never forget you.</p>
                        </div>
                    </div>
                </div>
                <!-- an area -->
                <div class="col-md-12 item">
                    <div class="area pink">
                        <div class="icon">
                            <i class="flaticon-vector"></i>
                        </div>
                        <div class="text">
                            <h6>Illustrator</h6>
                            <p>We ought to just try that with my boss; I'd get kicked out on the spot. But who knows, maybe that would be the best thing for me.</p>
                        </div>
                    </div>
                </div>
                <!-- an area -->
                <div class="col-md-12 item">
                    <div class="area blue">
                        <div class="icon">
                            <i class="flaticon-vector"></i>
                        </div>
                        <div class="text">
                            <h6>Illustrator</h6>
                            <p>I ought to just try that with my boss; I'd get kicked out on the spot. But who knows, maybe that would be the best thing me. </p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="wave-shape" src="images/bottom.png">
        </div>
    </section>


    <!-- CONTACT -->
    <section id="contact" class="contact color-bg text-center">
        <div class="container">
            <div class="section-title bottom_15">
                <span>GET IN TOUCH </span>
                <h2 class="title">Do you have any questions?</h2>
            </div>
            <button class="site-btn top_25" data-toggle="modal" data-target="#exampleModalCenter">SEND A MESSAGE</button>



        </div>
    </section>

</div> <!-- wrapper end -->

<footer class="text-center">
    <div class="container">
        <p>Alex Mordyasov<br>
            mordyasov.60@mail.ru</p>
        <div class="social top_15">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>  </a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>  </a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>  </a>
            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i>  </a>
            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i>  </a>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="bern modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Contact Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form class="contact-form bottom_15 top_15">
                    <div class="row">
                        <!--Name-->
                        <div class="col-md-12">
                            <input id="con_name" name="con_name" class="form-inp requie" type="text" placeholder="Name">
                        </div>
                        <!--Email-->
                        <div class="col-md-12 top_15">
                            <input id="con_email" name="con_email" class="form-inp requie" type="text" placeholder="Email">
                        </div>
                        <div class="col-md-12">
                            <!--Message-->
                            <textarea name="con_message" id="con_message" class="requie" placeholder="How can I help you?" rows="8"></textarea>
                            <button id="con_submit" class="site-btn top_30 pull-right" type="submit">SEND MESSAGE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Javascripts -->
<script src="main/js/jquery-2.1.4.min.js"></script>
<script src="main/js/bootstrap.min.js"></script>
<script src="main/js/owl.carousel.min.js"></script>
<script src="main/js/isotope.pkgd.min.js"></script>
<script src="main/js/jquery.magnific-popup.min.js"></script>
<script src="main/js/smoothscroll.js"></script>
<script src="main/js/typed.js"></script>
<script src="main/js/main.js"></script>

</body>
</html>
