<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<div th:insert="parts/authentication :: links"></div>
	<title>Registration</title>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
	<header th:insert="parts/header :: header"></header>

	<div th:insert="parts/authentication
	 :: authentication (
	  url = '/registration',
	  namePage = 'Registration',
	  transition = '/login',
	  nameAction = 'Sign in',
	  questionAction = 'Do have an account?',
	  isRepeatPassword = 'repeatPassword'
	  )"></div>

</body>

<div th:insert="parts/footer :: footer"></div>
</html>