<div th:fragment="authentication (url, namePage, transition, nameAction, questionAction, isRepeatPassword)"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form th:action="${url}" method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Welcome
					</span>
                    <span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
                        <p style="color: red; padding-top: 20px; font-size: 15px; font-weight: bold;" th:text="${UsernameExistsError}"/>
                        <p style="color: red; padding-top: 20px; font-size: 15px; font-weight: bold;" th:text="${PasswordLengthError}"/>
                        <p style="color: red; padding-top: 20px; font-size: 15px; font-weight: bold;" th:text="${UsernameLengthError}"/>
                        <p style="color: red; padding-top: 20px; font-size: 15px; font-weight: bold;" th:text="${RepeatPasswordError}"/>
                        <p style="color: red; padding-top: 20px; font-size: 15px; font-weight: bold;" th:text="${PasswordError}"/>
                        <p style="color: red; padding-top: 20px; font-size: 15px; font-weight: bold;" th:text="${CaptchaError}"/>
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "Enter nickname">
                        <input class="input100" type="text" name="username" placeholder="username">
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="password">
                    </div>

                    <div th:insert="parts/repeatPassword :: ${isRepeatPassword}"></div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn"
                            th:text="${namePage}">

                            </button>
                        </div>
                    </div>

                    <!--<div class="g-recaptcha mt-3" data-sitekey="6Lf2xcwZAAAAAGgX3zp3gNdaWt1dfemdIV5XymCe"></div>-->

                    <div class="text-center p-t-115">
						<span class="txt1" th:text="${questionAction}">

						</span>

                        <a class="txt2" th:href="${transition}"
                        th:text="${nameAction}">

                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="login_reg/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/bootstrap/js/popper.js"></script>
    <script src="login_reg/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/daterangepicker/moment.min.js"></script>
    <script src="login_reg/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="login_reg/js/main.js"></script>

</div>

<div th:fragment="links">
    <title>Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_reg/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_reg/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_reg/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_reg/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_reg/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_reg/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_reg/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_reg/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_reg/css/util.css">
    <link rel="stylesheet" type="text/css" href="/login_reg/css/main.css">
    <!--===============================================================================================-->
</div>