<div th:fragment="links">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/main/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/main/css/reset.css"/>
    <link rel="stylesheet" href="/main/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/main/css/owl.theme.css"/>
    <link rel="stylesheet" href="/main/css/magnific-popup.css"/>
    <link rel="stylesheet" href="/main/css/style.css"/>

    <!-- Web font -->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>

    <!-- Font icons -->
    <link rel="stylesheet" href="/main/icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/main/icon-fonts/web-design/flaticon.css" />
</div>